/*

----------------------------------------------------------
              Blue theme made by Black1_TV
----------------------------------------------------------

*/

body{
    background-color: #80bdff;
}

h1{
    color: #003e80;
}

p{
    color: #0063cc;
}

a{
    color: black;
}

.bg-dark{
    background-color: #007bff!important;
}

a:hover{
    color: black;
}

table, th, td {
    border: 1px solid black;
}

th{
    background-color: #004a99;
    color: white;
}

td{
    color: #e6f2ff;
}

tr:nth-child(even){background-color: #0063cc;}

tr:nth-child(odd){background-color: #006fe6;}

tr:hover {background-color: #0056b3;}
